@use '../../assets/themes/default/colorVariable.scss' as color;

.ant-input-affix-wrapper {
  border: none;
  font-size: 14px;
  background-color: color.$cultured;
  transition: margin 0.5s ease,
              transform 0.5s ease;
  box-shadow: none;

  .ant-input {
    outline: none;
  }

}