@use  '../../assets/themes/default/colorVariable.scss' as color;

.navbar-container {
  background-color: color.$space-cadet;
  
  .ant-input-affix-wrapper {
    &-focused {
      margin-right: 50%;
      transform: translateX(50%);
      box-shadow: inset 0 0 4px color.$caribbean-green,
        inset 0 0 8px color.$caribbean-green;
    
      & .ant-input {
        font-size: 20px;
      }
    }
  }

  .navbar {
    line-height: 80px;

    .nav-item {
      display: flex;
      justify-content: space-between;
      justify-content: center;
      padding: 0 32px;
      user-select: none;
      font-weight: bold;
      transition: all 0.25s ease;
      color: color.$baby-powder;

      &:hover { 
        color: color.$yellow-green;
        padding: 0 48px;
        letter-spacing: 4px;
        box-shadow: 0 0 8px color.$caribbean-green,
          0 0 16px color.$caribbean-green;
      }
    }
  }

  .active {
    color: color.$yellow-green !important;
    padding: 0 48px !important;
    letter-spacing: 4px;
    box-shadow: 0 0 8px color.$caribbean-green,
      0 0 16px color.$caribbean-green;
  }

  .genre-subnav-dropdown-menu {
    border-bottom: 1px solid color.$manatee;
    border-top: 1px solid color.$manatee;
    background-color: color.$rich-black-fogra-29;

    .genre-subnav-dropdown-item {
      display: flex;
      position: relative;
      height: 64px;
      align-items: center;
      padding: 0 16px;
      color: color.$caribbean-green;
      transition: all 0.25s ease;

      &:hover {
        letter-spacing: 4px;
        color: color.$yellow-green;
        font-weight: bold;
      }
    }
  }

}
