@use 'assets/themes/default/colorVariable.scss' as color;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
	text-decoration: none;
  color: #000;
}

.ant-input-affix-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid color.$yellow-green;
  background-color: color.$baby-powder;
  height: 32px;
  padding: 0 16px;
  border-radius: 4px;

  &:focus .ant-input {
    border: none !important;
  }
  
  .ant-input {
    border: none;
  }

}